<section class="welcome">
    <div class="container">
        <div class="content">
            <h1>Isahir Zavala</h1>
            <h2>.NET Developer</h2>
            <hr class="line">
            <p>A proactive person who believes in the idea that if you can imagine something you can write a code to
                make it real, 2 years of experience so far, but eager to continue expanding my knowledge.</p>
            <div class="social-links">
                <a target="_blank" class="social-link" href="https://github.com/isahir0711">
                    <i class="bi bi-github"></i>
                </a>
                <a target="_blank" class="social-link" href="https://www.linkedin.com/in/isahir-zavala-miranda-70479a266/">
                    <i class="bi bi-linkedin"></i>
                </a>
                <a target="_blank" class="social-link" href="mailto:isahirzavala@hotmail.com?Subject=Interesado%20en%20tus%20servicios">
                    <i class="bi bi-envelope-fill"></i>
                </a>
            </div>
        </div>
        <div class="img-container">
            <img src="/assets/imgs/me-cropped.jpeg" class="img-me" alt="me" loading="lazy">
        </div>
    </div>
</section>


<section class="skills-container">
    <div class="aboutme">
        <h2>About me</h2>
        <p>
            I have been a web developer for 2 years now, i have experience in ASP.NET along with the micro ORM Dapper,
            as well as EntityFrameworkCore and i'm familiar with the repository pattern. I have been worked on a project
            called Avents than required
            consuming API's such as Stripe, for implementing a subscription service and Twilio and Sendgrid in order to
            send emails and SMS,
            i worked the backend with .NET and the frontend with Bootstrap
        </p>
        <h2>Last Professional Experience</h2>
        <a target="_blank" href="https://avents.co" class="experience-card">
            <h2 class="experience-card-title">Avents</h2>
                <h3>June 2021 - March 2023</h3>
                <p>Developed a web applicaciont to organize events and appointments, with a subscription functionality</p>
    
                <footer class="card-footer">
                    <div class="tech-used">
                        <img class="icon" src="/assets/icons/net-icon.svg" alt="angular-icon" loading="lazy">
                        <img class="icon" src="/assets/icons/csharp-icon.svg" alt="csharp-icon" loading="lazy">
                        <img class="icon" src="/assets/icons/msql-icon.svg" alt="msql-icon" loading="lazy">
                        <img class="icon" src="/assets/icons/azure-icon.svg" alt="azure-icon" loading="lazy">
                        <img class="icon" src="/assets/icons/html-icon.svg" alt="html-icon" loading="lazy">
                        <img class="icon" src="/assets/icons/css-icon.svg" alt="css-icon" loading="lazy">
                    </div>
                </footer>
        </a>
    </div>
    <div class="icons-container">
        <div class="tech-container">
            <h2 class="skills-title">Front End</h2>
            <div class="icon-container">
                <img class="icon" src="/assets/icons/angular-icon.svg" alt="angular-icon" loading="lazy">
                <p>Angular</p>
            </div>
            <div class="icon-container">
                <img class="icon" src="/assets/icons/html-icon.svg" alt="html-icon" loading="lazy">
                <p>HTML</p>
            </div>
            <div class="icon-container">
                <img class="icon" src="/assets/icons/css-icon.svg" alt="css-icon" loading="lazy">
                <p>CSS</p>
            </div>
            <div class="icon-container">
                <img class="icon" src="/assets/icons/js-icon.svg" alt="js-icon" loading="lazy">
                <p>JavaScript</p>
            </div>
            <div class="icon-container">
                <img class="icon" src="/assets/icons/ts-icon.svg" alt="js-icon" loading="lazy">
                <p>TypeScript</p>
            </div>
        </div>

        <div class="tech-container">
            <h2 class="skills-title">Back End</h2>
        <div class="icon-container">
            <img class="icon" src="/assets/icons/net-icon.svg" alt="net-icon" loading="lazy">
            <p>Dot Net</p>
        </div>
        <div class="icon-container">
            <img class="icon" src="/assets/icons/csharp-icon.svg" alt="csharp-icon" loading="lazy">
            <p>C#</p>
        </div>
        <div class="icon-container">
            <img class="icon" src="/assets/icons/azure-icon.svg" alt="azure-icon" loading="lazy">
            <p>Azure</p>
        </div>
        </div>

        <div class="tech-container">
            <h2 class="skills-title">Extras</h2>
        <div class="icon-container">
            <img class="icon" src="/assets/icons/msql-icon.svg" alt="msql-icon" loading="lazy">
            <p>SQL Server</p>
        </div>
        <div class="icon-container">
            <img class="icon" src="/assets/icons/git-icon.svg" alt="git-icon" loading="lazy">
            <p>Git</p>
        </div>
        <div class="icon-container">
            <img class="icon" src="/assets/icons/github-icon.svg" alt="github-icon" loading="lazy">
            <p>Git Hub</p>
        </div>
        <div class="icon-container">
            <img class="icon" src="/assets/icons/python-icon.svg" alt="python-icon" loading="lazy">
            <p>Python</p>
        </div>
        </div>
    </div>
</section>
