.welcome {
    background: var(--welcome-background);
    padding: 100px 0 80px 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
    margin-inline: 20%;
    gap: 25px;
}

.content{
    max-width: 800px;
}

.img-me{
    width: 180px;
    border-radius: 40% 60% 55% 45% / 30% 30% 70% 70% ;
    animation-name: blobanimation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    
}

@keyframes blobanimation{
    0%{
        border-radius: 40% 60% 31% 69% / 50% 30% 70% 50% ;
    }

    25%{
        border-radius: 82% 18% 42% 58% / 50% 42% 58% 50% ;
    }

    50%{
        border-radius: 51% 49% 65% 35% / 35% 96% 4% 65% ;
    }

    75%{
        border-radius: 51% 49% 65% 35% / 66% 56% 44% 34% ;
    }

    100%{
        border-radius: 40% 60% 31% 69% / 50% 30% 70% 50% ;
    }
}


.social-links {
    display: flex;
    margin-top: 25px;
    gap: 25px;
}


.social-link{
    font-size: 30px;
    transition: 0.3s ease-in-out;
}

.social-link:hover{
    transform: scale(115%);
}

.social-icon {
    width: 40px;
}

.skills-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 130px;
    grid-row-gap: 30px;
    margin-inline: 20%;
    margin-top: 40px;
    line-height: 25px;
}

.skills-title {
    width: 100%;
}

.icons-container {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 25px;
}


.icon-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.tech-container{
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
}

.icon {
    width: 70px;
}

.experience-card {
    width: 70%;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    background: var(--welcome-background);
    border: 2px solid var(--card-border);
    transition: 0.2s;
}

.experience-card:hover{
    box-shadow: 0px 10px 15px -3px var(--box-shadow);
}

.experience-card-title {
    margin-top: 10px;
}

.aboutme {
    display: flex;
    flex-direction: column;
}

.tech-used {
    gap: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.card-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}


.tech-used>.icon {
    width: 30px;
}



@media (max-width: 768px) {
    .skills-container {
        grid-template-columns: 1fr;
        /* Cambia a una sola columna */
        margin-inline: 5%;
        /* Ajusta el margen lateral para que se vea bien en dispositivos más pequeños */
    }

    .container {
        margin-inline: 5%;
    }

    .experience-card {
        width: 90%;
        align-self: center;
    }

    .container {
        flex-wrap: wrap;
    } 
}

@media (max-width: 1634px){
    .container {
        justify-content: center;
    }
}

@media (prefers-reduced-motion) {
    .img-me{
        border-radius: 0;
    }    
}