@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Poppins&display=swap');
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background: var(--background-body);
    font-family: 'Inconsolata', monospace;
    color: var(--font-color);
}

/* Define las variables CSS para los temas */
:root {
    --background-body: #ffffff;
    --nav-bar:#ffffff;
    --welcome-background:#f1f7ff;
    --welcome-fontcolor:#444343;
    --button-background:#ffffff;
    --card-border:#c5c3c3;
    --text-hover:#c7c7c7;
    --backdrop-color:#d6d9dd;
    --box-shadow:rgba(0,0,0,0.1);
    /* Valores predeterminados para el tema claro */
}

.theme-dark {
    --background-body: #111827;
    --font-color:#FAF3F0;
    --nav-bar:#111f30;
    --welcome-background:#15273d;
    --welcome-fontcolor:#c5c3c3;
    --button-background:#111827;
    --card-border:#444343;
    --text-hover:#838383;
    --backdrop-color:#0b182b;
    --box-shadow:rgba(0, 0, 0, 1);
    /* Variables personalizadas para el tema oscuro */
}


/*colors*/
.content>p{
    color: var(--welcome-fontcolor);
}

a{
    text-decoration: none;
    color: var(--font-color);
}



.aboutme >p{
    color: var(--welcome-fontcolor);
}

/*global styles*/

.btn{
    padding: 15px;
    border-radius: 10px;
    text-decoration: none;
    color: var(--font-color);
    border:2px solid var(--button-background);
    transition: 0.2s;
}

.btn:hover{
    background: var(--nav-bar);
}
